{% extends 'blog/layout.html' %}    
{% load static %}
{% block title %}Войти{% endblock %}

{% block content %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}
    <button class="btn btn-success">Войти</button>
    <input type="submit" value="login">
    {% if form.errors %}
        <p>Неверное имя или пароль</p>
        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    {% endif %}
</form>
{% endblock %}